:root {
  --bg: #0dbea7;
  --black: #212121;
  --brown: #87694a;
  --light-brown: #fffae1;
  --light-brown-dim: rgba(255, 250, 225, 0.95);
  --hotpink: #ff79a5;
  --size: 1em;
  --font: "Arial Rounded MT Bold", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
}

/* Always hide element with hidden attribute. */
*[hidden] {
  display: none;
}

/*
  1. Show text content immediately instead of waiting for the desired font to load
  2. Take the entire screen.
  3. Source: http://weblog.west-wind.com/posts/2015/Jan/12/main-HTML5-Tag-not-working-in-Internet-Explorer-91011
*/
html,
body {
  font-family: var(--font);
  width: 100%; /* 2 */
  color: var(--black);
}

html {
  font-size: var(--size, 1em);
  height: 100%; /* 2 */
}

body {
  min-height: 100%; /* 2 */
  margin: 0;
}

/* 3 */
main {
  display: block;
}

a {
  color: var(--hotpink);
  text-decoration: none;
}

a:hover,
a:focus {
  outline: dashed var(--bg);
}

.Drama {
  background-color: var(--bg);
  box-sizing: border-box;
  min-height: 100vh;
  padding: 0.5em;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
}

.ChatBubble {
  font-family: var(--font);
  position: relative;
  display: none;
  opacity: 0;
  transform-origin: bottom left;
}

.ChatBubble.show {
  display: inline-block;
  animation-duration: 0.6s;
  animation-name: pop;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.ChatBubble.notif > .main::after {
  content: " ";
  position: absolute;
  border-radius: 50%;
  background-color: var(--hotpink);
  border: 3px solid var(--light-brown);
  padding: 0.25em;
  top: 0;
  right: 0;
  animation-duration: 3s;
  animation-name: signal;
  animation-iteration-count: infinite;
}

.ChatBubble > .name {
  background-color: var(--hotpink);
  border-radius: 0.75em;
  color: var(--light-brown-dim);
  font-size: 0.75em;
  padding: 0.25em 1em;
  position: absolute;
  z-index: 1;
  transform: translateY(-50%);
}

.ChatBubble > .main {
  background-color: var(--light-brown);
  border-radius: 1.2em;
  display: inline-block;
  margin-bottom: 1em;
  margin-left: 0.5em;
  padding: 0.5em 2em;
  position: relative;
  animation-duration: 10s;
  animation-name: floatAndJiggle;
  animation-iteration-count: infinite;
}

.ChatBubble > .main > .text {
  font-size: 1em;
  font-weight: normal;
  color: var(--brown);
  margin: 0;
}

@media only screen and (min-width: 47.875em) {
  .Drama {
  }

  .ChatBubble > .main > .text {
    font-size: 1.5em;
  }
}

@keyframes pop {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    transform: scale(0.9, 1.05);
  }
  75% {
    transform: scale(1.05, 0.9);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes floatAndJiggle {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, -0.1em) skew(-0.5deg, 0);
  }
  50% {
    transform: translate(0, -0.25em) skew(0.5deg, -1deg) scaleY(1.025);
  }
  75% {
    transform: translate(0, -0.1em) skew(-0.5deg, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes signal {
  0% {
    opacity: 70%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 70%;
  }
}
